<nav>
  <ul class="menu">
    <li><a class="link-pacientes" routerLink="/listaPacientes">Pacientes</a></li>
    <li><a class="link-pacientes" routerLink="/medicamentos">Medicamentos</a></li>
    <li (click)="toggleInternacoes()">
      <a>Internações</a>
      <ul *ngIf="showInternacoes" class="submenu">
        <li><a routerLink="/criarInternacao">Criar Internação</a></li>
        <li><a routerLink="/listarInternacao">Listar Internação</a></li>
        <!-- Adicione outros links de internações aqui -->
      </ul>
    </li>
  </ul>
</nav>
