/* styles.css (ou seu arquivo de estilo global) */

.header {
    text-align: center;
    color: white;
  }
.formulario-cadastro {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formulario-cadastro label {
    display: block;
    margin-bottom: 8px;
  }
  
  .formulario-cadastro input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formulario-cadastro button {
    background-color: #003366;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    
  
  .formulario-cadastro button:hover {
    background-color: #003366;
  }
  .link-pacientes {
    cursor: pointer; /* Define o cursor como um ponteiro ao passar o mouse sobre o link */
    color: #003366;
    margin-left: 10px; /* Adicione qualquer estilo de cor desejado */
  }
  
  .link-pacientes:hover {
    color: blue;
    filter: brightness(80%); /* Adicione uma cor diferente quando o mouse passar sobre o link (opcional) */
  }
  